<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product category </title>

  <link rel="stylesheet" href="/admin_asset/assets/css/styles.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: cornflowerblue;
      color: aliceblue;
    }

    #addctry {
      width: 120px;
      height: 35px;
      background-color: cornflowerblue;
      border-radius: 5px;
      border: none;
    }

    #ac {
      color: aliceblue;
    }

    .tbl {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .dropdown select {
      padding: 10px 15px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="/Borcelle white.png" width="155" alt="" style="margin-left: 20px; margin-top: 10px;" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users-list" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Customers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/categories" aria-expanded="false"
                style="background-color: rgb(112, 7, 7);">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Categories</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-coupon" aria-expanded="false">
                <span>
                  <i class="ti ti-tag"></i>
                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-offer" aria-expanded="false">
                <span>
                  <i class="ti ti-discount"></i>
                </span>
                <span class="hide-menu">Offer</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/banners" aria-expanded="false" style="color: black;">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Banner</span>
              </a>
            </li>
            <li class="sidebar-item" style="margin-top: 30px; width: 180px; margin-left: 17px;">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false"
                style="background-color: rgb(112, 7, 7); padding-left: 59px;">
                <span class="hide-menu" style="color: aliceblue;">Logout</span>
              </a>
            </li>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">

      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <table id="dataTable" class="tbl">
          <thead>
            <tr>
              <th style="background-color: rgb(112, 7, 7);text-align: center;">Category</th>
              <th style="background-color: rgb(112, 7, 7);text-align: center;">Description</th>
              <th style="background-color: rgb(112, 7, 7);text-align: center;">Offers</th>
              <th style="background-color: rgb(112, 7, 7);text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(category=> { %>
              <tr>
                <td>
                  <%= category.name %>
                </td>
                <td>
                  <%= category.description %>
                </td>
                <% if(category.discount){ %>
                  <td>
                    <%= category.discount.offerName %> &nbsp; offer &nbsp; &#8377;&nbsp;<%=
                        category.discount.discountOffer %>
                        <button type="button" class="removeOfferBtn"
                          style="background-color: rgb(112, 7, 7); color: aliceblue; "
                          data-category-id="<%= category._id %>">Remove</button>
                  </td>
                  <% }else { %>
                    <td>
                      <div class="dropdown">
                        <select class="offerDropdown" data-category-id="<%= category._id %>"
                          onchange="applyOrRemoveOffer(this)">
                          <option value="" disabled selected>Select Product Offer</option>
                          <% offers.forEach(offer=>{ %>
                            <option value="<%= offer._id %>">
                              <%= offer.offerName %>&nbsp; offer &nbsp; &#8377; <%= offer.discountOffer %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                    </td>
                    <% } %>
                      <td><button type="button"
                          class="btn actionbtn <%= category.is_listed ? 'btn-danger' : 'btn-success' %>"
                          data-category-id="<%= category._id %>"
                          data-category-state="<%= category.is_listed ? 'List' : 'Unlist' %>" style="min-width: 70px;">
                          <%= category.is_listed ? 'Unlist' : 'List' %>
                        </button>
                        <a
                          href="/admin/edit-category?categoryId=<%= category._id %>&categoryName=<%= category.name %>&categoryDescription=<%= category.description %>"><img
                            src="/edit-image.jpg" alt="Edit" style="width: 24px; height: 24px;"></a>
                      </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
        <br>
        <button id="addctry" style="background-color: rgb(112, 7, 7);"><a href='/admin/add_category' id="ac">Add
            Category</a></button>
      </div>
      <script src="/admin_asset/assets/libs/jquery/dist/jquery.min.js"></script>
      <script src="/admin_asset/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/admin_asset/assets/js/sidebarmenu.js"></script>
      <script src="/admin_asset/assets/js/app.min.js"></script>
      <script src="/admin_asset/assets/libs/simplebar/dist/simplebar.js"></script>

      <script>
        document.querySelectorAll('.actionbtn').forEach(function (button) {
          button.addEventListener('click', function () {
            let categoryId = this.getAttribute('data-category-id');
            let currentState = this.getAttribute('data-category-state');
            console.log(currentState);
            let url;
            if (currentState === 'List') {
              url = '/admin/unlist-category';
            } else {
              url = '/admin/list-category';
            }

            fetch(url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ categoryId })
            })
              .then(response => response.json())
              .then(data => {
                if (data.success) {
                  console.log(data)
                  // Update button state
                  this.setAttribute('data-category-state', data.message.includes('Unlisted') ? 'Unlist' : 'List');
                  this.textContent = data.message.includes('Unlisted') ? 'List' : 'Unlist';
                  this.classList.toggle('btn-success');
                  this.classList.toggle('btn-danger');
                  alert(data.message); // Display a message or handle UI updates as needed
                } else {
                  alert('Toggle block failed');
                }
              })
              .catch(error => {
                console.error(error);
                alert('An error occurred during toggle block');
              });
          });
        });
      </script>

      <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

      <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
      <script>
        $(document).ready(function () {
          $('#dataTable').DataTable();
        });
      </script>

      <script>
        function applyOrRemoveOffer(selectElement) {
          var selectedOption = selectElement.value;
          var categoryId = selectElement.getAttribute('data-category-id');
          console.log(categoryId);

          fetch('/admin/category-offer', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ categoryId: categoryId, selectedOption: selectedOption })
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                alert("Offer applied to the category!");
                window.location.reload();
              } else {
                alert('Applying offer failed');
              }
            })
            .catch(error => {
              console.error(error);
              alert('An error occurred while applying offer');
            });
        }

      </script>

</body>

</html>