<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BORCELLE-Admin Panel</title>

  <link rel="icon" href="/Favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/admin_asset/assets/css/styles.min.css">

  <style>
    .box {
      width: 98%;
      height: 40px;
      padding-left: 30px;
      border-radius: 10px;
      border: 0;
      color: rgb(112, 7, 7);
    }

    .sizes {
      width: 150px;
      height: 30px;
      border: 0;
      padding: 7px;
    }

    .lb {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(112, 7, 7);
    }

    .image-container {
      position: relative;
      display: inline-block;
      width: 100px;
      /* Adjust as needed */
      height: 100px;
      /* Adjust as needed */
    }

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5%;
    }

    .remove-button {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      background-color: red;
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      display: none;
    }

    .image-container:hover .remove-button {
      display: inline-block;
    }

    #custom-button {
      background-color: rgb(112, 7, 7); 
       color: white;
      padding: 10px 15px;
      cursor: pointer;
      border: none;
      margin-top: 10px;
      display: none;
    }

    #imageInput {
      display: none;
    }

    .preview-image-container {
      position: relative;
      margin-right: 10px;
      width: 100px;
      height: 150px;
    }

    .product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5%;
    }

    .preview-image-container:hover .remove-button-new {
      display: inline-block;
    }

    .remove-button-new {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(112, 7, 7);
      color: white;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      ;
    }
  </style>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="/Borcelle white.png" width="155" alt="" style="margin-left: 20px; margin-top: 10px;" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users-list" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Customers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false" style="background-color: rgb(112, 7, 7); color: #fff;">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/categories" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Categories</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-coupon" aria-expanded="false">
                <span>
                  <i class="ti ti-tag"></i>
                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-offer" aria-expanded="false">
                <span>
                  <i class="ti ti-discount"></i>
                </span>
                <span class="hide-menu">Offer</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/banners" aria-expanded="false" style="color: black;">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Banner</span>
              </a>
            </li>
            <li class="sidebar-item" style="margin-top: 30px; width: 180px; margin-left: 17px;">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false"
              style="background-color: rgb(112, 7, 7); padding-left: 59px;">
                <span class="hide-menu" style="color: aliceblue;">Logout</span>
              </a>
            </li>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">

      <div
        style="background-color: rgb(112, 7, 7); color: #fff; width: 95%; text-align: center;
    margin-left: 20px; height: 50px; font-size: xx-large; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        EDIT PRODUCT
      </div>
      <div
        style="background-color: rgba(197, 127, 127, 0.414); width: 95%; height: auto; margin-left: 20px; margin-top: 15px; border-radius: 7px;">
        <div style="padding: 30px;">


          <form id="editProductForm" action="/admin/edit-product" method="POST" enctype="multipart/form-data">

            <input type="hidden" value="<%= product._id %>" id="hhhh" name="productId">
            <input type="text" name="name" value="<%= product.name %>" required class="box">
            <br>
            <div class="col-6 pe-2">
              <br>
              <select name="category" id="topLevelCategory" class="form-select mb-3" style="border-color: #fff;">
                <option selected>
                  <%= product.category %>
                </option>
                <% category.forEach(category=> { %>
                  <option value="<%= category.name %>">
                    <%= category.name%>
                  </option>
                  <% }) %>
              </select>
              <div id="parentCateErrorMessage" class="text-danger mt-2"></div>
            </div>
            <input type="text" name="price" value="<%= product.price %>" required class="box">
            <br>
            <br>
            <input type="text" name="description" value="<%= product.description %>" required class="box">
            <br>

            <div style="width: 98%; background-color: #fff; margin-top: 30px;">
              <h4
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(142, 14, 14); padding-left: 480px;">
                Product Images</h4>
            </div>
            <br>
            <div id="imageErrorMessage" class="text-danger"></div>
            <label for="imageInput" class="btn btn-outline-primary" id="custom-button">Add Image</label>
            <input type="file" name="productImages" id="imageInput" multiple accept="image/*" />


            <div style="display: flex; margin-left: 350px;" id="preview-images">
              <% let imageCount=0; %>
                <% for(let i=0; i < product.image.length; i++) { %>
                  <% if (imageCount < 4) { %>
                    <% imageCount++; %>
                      <div class="image-container preview-image-container"
                        style="position: relative; margin-right: 10px; width: 100px; height: 150px;">
                        <!-- Adjust width and height as needed -->
                        <img src="/productImages/<%= product.image[i] %>" alt="" class="product-image"
                          style="width: 100%; height: 100%; object-fit: cover; border-radius: 5%;">
                        <button class="remove-button" onclick="removeImage('<%= i %>','<%= product.image[i] %>')"
                          style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgb(112, 7, 7); color: white; padding: 5px 10px; border: none; cursor: pointer; display: none;">Remove</button>
                      </div>
                      <% } %>
                        <% } %>
                          <!-- Show input file button if imageCount is less than 4 -->
                          <% if (imageCount < 4) { %>
                            <input type="file" accept="image/*" onchange="addImage(this)"
                              style="display: inline-block;">
                            <% } %>
            </div>


            <div style="width: 98%; background-color: #fff; margin-top: 30px;">
              <h4
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(112, 7, 7); padding-left: 420px;">
                Product Size with Quantity</h4>
            </div>

            <br>
            <div style="margin-left: 310px;">
              <label for="xs" class="lb">XS &nbsp;</label>
              <input type="number" name="xs" value="<%= product.variant.xs %>" class="sizes">

              <label for="s" class="lb" style="margin-left: 100px;">S &nbsp;</label>
              <input type="number" name="s" value="<%= product.variant.s %>" class="sizes">
              <br>
              <br>
              <label for="m" class="lb">M &nbsp;</label>
              <input type="number" name="m" value="<%= product.variant.m %>" class="sizes">

              <label for="l" class="lb" style="margin-left: 105px;">L &nbsp;</label>
              <input type="number" name="l" value="<%= product.variant.l %>" class="sizes">
              <br>
              <br>
              <label for="xl" class="lb">XL &nbsp;</label>
              <input type="number" name="xl" value="<%= product.variant.xl %>" class="sizes">

              <label for="xxl" class="lb" style="margin-left: 85px;">XXL &nbsp; </label>
              <input type="number" name="xxl" value="<%= product.variant.xxl %>" class="sizes">
              <br>
              <br>
            </div>
            <br>
            <div style="margin-left: 450px;">
              <a href="/admin/products"> <button type="button" class="btn"
                  style="border:rgb(112, 7, 7)solid; color: black; font-weight: 600;">Close</button></a>
              <button type="submit" class="btn"
                style="background-color: rgb(112, 7, 7); color: #fff; font-weight: 600; border:rgb(112, 7, 7)solid; margin-left: 10px;"
                onclick="submitForm()">Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/admin_asset/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/admin_asset/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin_asset/assets/js/sidebarmenu.js"></script>
    <script src="/admin_asset/assets/js/app.min.js"></script>
    <script src="/admin_asset/assets/libs/simplebar/dist/simplebar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script> // image remove button 
      document.querySelectorAll('.image-container').forEach(container => {
        container.addEventListener('mouseenter', () => {
          container.querySelector('.remove-button').style.display = 'inline-block';
        });

        container.addEventListener('mouseleave', () => {
          container.querySelector('.remove-button').style.display = 'none';
        });
      });
      const removedImages = [];
      var name = "";
      function removeImage(index, image) {
        console.log(image);
        const imageContainer = document.getElementsByClassName('image-container')[index];
        removedImages.push(image)
        console.log("image names", removedImages);

        if (imageContainer) {
          imageContainer.remove();

          document.getElementById("custom-button").style.display = "inline-block";
        }
      }

      function submitForm() {
        var form = document.getElementById('editProductForm');

        removedImages.forEach(function (image, index) {
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = 'removedImages[]';
          input.value = image;
          form.appendChild(input);
        });

        // Submit the form
        form.submit();
      }

      document.getElementById("imageInput").addEventListener("change", handleFileSelect);

      const addedFiles = [];

      function handleFileSelect(event) {
        const files = event.target.files;

        // Set the maximum number of allowed images
        const maxImages = 4;

        if (files.length + addedFiles.length > maxImages) {
          Swal.fire(`You can add up to ${maxImages} images.`);

          event.target.value = "";
          return;
        }

        for (const file of files) {
          let isExist = false;
          addedFiles.forEach((addedfile) => {
            if (addedfile.name == file.name) {
              isExist = true;
            }
          });
          if (!isExist) {
            previewFile(file);
            addedFiles.push(file);
          }
        }

        if (addedFiles.length >= maxImages) {
          document.getElementById("custom-button").style.display = "none";
        }
      }

      function previewFile(file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const previewImagesContainer = document.getElementById("preview-images");
          console.log("previewImagesContainer",previewImagesContainer);

          // Create a container for each image
          const imageContainer = document.createElement("div");
          imageContainer.classList.add("preview-image-container");

          // Create an image element
          const image = new Image();
          image.src = e.target.result;
          image.classList.add("preview-image");
          image.classList.add("product-image");

          // Add a remove button
          const removeButton = document.createElement("button");
          removeButton.innerText = "Remove";
          removeButton.classList.add("remove-button-new")
          removeButton.addEventListener("click", () => {

            previewImagesContainer.removeChild(imageContainer);

            const index = addedFiles.findIndex(
              (obj) => obj.name === file.name
            );

            if (index !== -1) {
              addedFiles.splice(index, 1);
            }

            if (addedFiles.length < maxImages) {
              document.getElementById("custom-button").style.display =
                "inline-block";
            }
          });

          imageContainer.appendChild(image);
          imageContainer.appendChild(removeButton);

          previewImagesContainer.appendChild(imageContainer);
        };

        reader.readAsDataURL(file);
      }


    </script>


</body>

</html>