<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BORCELLE-Admin Panel</title>

  <link rel="stylesheet" href="/admin_asset/assets/css/styles.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css">

  <style>
    table {
      width: 100%;
      border-collapse: collapse;

    }

    td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      font-weight: 600;
    }
  </style>

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="/Borcelle white.png" width="155" alt="" style="margin-left: 20px; margin-top: 10px;" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users-list" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Customers</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/categories" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Categories</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-coupon" aria-expanded="false">
                <span>
                  <i class="ti ti-tag"></i>
                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/product-offer" aria-expanded="false"
                style="background-color: rgb(112, 7, 7);">
                <span>
                  <i class="ti ti-discount"></i>
                </span>
                <span class="hide-menu">Offer</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/banners" aria-expanded="false" style="color: black;">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Banner</span>
              </a>
            </li>
            <li class="sidebar-item" style="margin-top: 30px; width: 180px; margin-left: 17px;">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false"
                style="background-color: rgb(112, 7, 7); padding-left: 59px;">
                <span class="hide-menu" style="color: aliceblue;">Logout</span>
              </a>
            </li>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">

      <div class="container-fluid">
        <table id="dataTable" style="margin-top: 20px;">
          <thead>
            <th style="background-color: rgb(112, 7, 7); color: aliceblue; text-align: center;">Offer Name</th>
            <th style="background-color: rgb(112, 7, 7); color: aliceblue; text-align: center;">Start Date</th>
            <th style="background-color: rgb(112, 7, 7); color: aliceblue; text-align: center;">End Date</th>
            <th style="background-color: rgb(112, 7, 7); color: aliceblue; text-align: center;">Discount Amount</th>
            <th style="background-color: rgb(112, 7, 7); color: aliceblue; text-align: center;">Action</th>

          </thead>
          <tbody>

            <% offers.forEach(offer=>{ %>
              <tr>
                <td>
                  <%= offer.offerName %>
                </td>
                <td>
                  <%= offer.validFrom %>
                </td>
                <td>
                  <%= offer.expiry %>
                </td>
                <td>
                  <%= offer.discountOffer %>
                </td>
                <td>
                  <button type="button" onclick="offerDelete('<%= offer._id %>')"
                    style="background-color: rgb(112, 7, 7); color: aliceblue; border: 0; width: 60px;">Delete</button>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>

        <a href="/admin/product-offer/add-offer"><button
            style="background-color: rgb(112, 7, 7); color: aliceblue; border: 0; width: 130px; height: 25px;">Add
            Offer</button></a>
      </div>

      <script src="/admin_asset/assets/libs/jquery/dist/jquery.min.js"></script>
      <script src="/admin_asset/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/admin_asset/assets/js/sidebarmenu.js"></script>
      <script src="/admin_asset/assets/js/app.min.js"></script>
      <script src="/admin_asset/assets/libs/simplebar/dist/simplebar.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

      <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
      <script>
        $(document).ready(function () {
          $('#dataTable').DataTable();
        });
      </script>
      <script>
        function offerDelete(offerId) {
          fetch('/admin/product-offer', {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              offerId
            }),
          })
            .then(response => {
              if (response.ok) {
                Swal.fire({
                  position: "top-end",
                  icon: "success",
                  title: "Offer deleted successfully",
                  showConfirmButton: false,
                  timer: 1500
                });
                window.location.reload()
              } else {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Failed to delete offer"
                });
              }
            })
            .catch(error => {
              console.error('Error deleting offer:', error);
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "An error occurred while deleting the offer"
              });
            });
        } 
      </script>


</body>

</html>